etrustex-app/etx-wacc-modules/etx-wacc-ws-provider/src/main/resources/META-INF/xsd/etx-wacc-security/ETX-SignatureData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:eu:europa:ec:etrustex:signature:v1.0"
            xmlns:tns="urn:eu:europa:ec:etrustex:signature:v1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:eu:europa:ec:etrustex:signature:v1.0" elementFormDefault="qualified"
            attributeFormDefault="unqualified" version="1.0">

    <!-- ===== Type Definitions ===== -->
    <xsd:element name="signedBundle">
        <xsd:annotation>
            <xsd:documentation>The root element for building the bundle that is going to be signed</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="document" type="tns:documentType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="documentType">
        <xsd:sequence>
            <xsd:sequence>
                <xsd:element name="id" type="tns:IdentifierType"/>
                <xsd:element name="digestMethod" type="xsd:string"/>
                <xsd:element name="digestValue" type="xsd:string"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="IdentifierType">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
